/* *{
margin: 0px;
padding: 0px;
} */
html {
  scroll-behavior: smooth;
  background-image: linear-gradient(
    150deg,
    #2e8b8b,
    rgb(32, 189, 176),
    rgb(131, 130, 130)
  );
}
body {
  min-height: 100%;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  /* or a specific container element */
  display: none;
}

/* head elements */

.img-logo {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 420px;
  padding: 50px;
  background-color: rgb(158, 238, 238);
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}
.img-logo:hover {
  transform: scale(1.05);
}

/* nav elements */
nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  gap: 20px;
  background-color: #2e8b8b;
  padding: 10px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 80px;
  border-radius: 20px;
  flex-wrap: wrap;
  transition: 0.4s ease-in-out;
}
nav ul:hover {
  background-color: #113636;
}
nav li {
  transition: all 0.5s ease-in-out;
  padding: 5px;
  border-radius: 8px;
}
nav li:hover {
  transform: scale(1.05);
  background-color: rgb(158, 238, 238);
}
a {
  transition: all 0.3s ease-in-out;
  color: rgb(230, 226, 226);
  font-size: larger;
  text-decoration: none;
  padding: 5px;
}
a:hover {
  color: #113636;
}

/* main elements */
#main-heading1 {
  /* text-align: center; */
  font-size: xx-large;
  color: aliceblue;
  background-color: #113636;
  display: inline-block;
  margin: auto;
  padding: 10px 30px;
  border-radius: 15px;
  transition: 0.4s ease-in-out;
}
#main-heading1:hover {
  background-color: rgb(158, 238, 238);
  color: #113636;
}

/* column unified for promotion banner */
.home {
  display: flex;

  flex-wrap: wrap;
  text-align: center;
}
.promotion {
  position: relative;
  margin: 20px;
}
.promotion-p {
  position: absolute;
  padding: 5px 10px 10px 40px;
  color: azure;
  text-align: left;
}
.promotion-p h1 {
  font-size: xx-large;
  background-color: #113636;
  display: inline-block;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 0%;
}
.promotion-p p {
  font-style: bold;
  color: rgb(8, 87, 87);
  background-color: rgb(158, 238, 238);
  padding: 5px;
  border-radius: 6px;
}
.promotion-img {
  max-width: 100%;
  margin: auto;
  padding: 5px;
  border-radius: 20px;
  background-color: rgb(8, 87, 87);
  transition: all 0.4s ease-in-out;
  object-fit: cover;
}

/* seperate 3 columns for content and images */
.products {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 50px;
}

article[class^="products-"] {
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(8, 87, 87);
  text-align: center;
  color: white;
  transition: all 0.4s ease-in-out;
  flex: 1 1 calc(33.333% - 40px);
  max-width: calc(33.333% - 40px);
}
article[class^="products-"]:hover {
  background-color: rgb(158, 238, 238);
  color: black;
}
article[class^="products-"] img {
  max-width: 100%;
  border-radius: 20px;
  height: 120px;
  object-fit: cover;
}
article[class^="products-"] h1 {
  font-size: xx-large;
}
@media (max-width: 768px) {
  .products {
    flex-direction: column; /* Stacks items vertically */
    align-items: center; /* Centers the stacked items */
  }

  article[class^="products-"] {
    max-width: 90%; /* Adjust as needed for desired width when stacked */
    margin-bottom: 20px; /* Add some space between stacked items */
    flex: 0 0 auto; /* Reset flex properties to prevent stretching */
  }
}

/* footer elements */
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* footer logo */
.img-thumbs {
  height: 50px;
  width: auto;
  background-color: rgb(158, 238, 238);
  border-radius: 5px;
  padding: 5px;
}

.copyright {
  font-size: x-large;
  color: rgb(143, 194, 196);
  background-color: #113636;
  padding: 5px;
  border-radius: 10px;
}
